<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <main role="main" id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <div class="container-fluid navbar-header">
                @Html.ActionLink("Admin [Esc]", "Index", "Home", new { area = "" }, new { @class = "navbar-brand col-10 " })
                @Html.ActionLink("Show Room [Home]", "Index", "Show", new { area = "" }, new { @class = "navbar-brand col-2 text-right" })
            </div>
        </nav>
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fontawesome2")
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        var url = window.location.href
        var arr = url.split("/");
        var domain = arr[0] + "//" + arr[2]

        $(document).keyup(function (e) {
            if (e.key === "Escape") { // Home key maps to keycode `36`
                window.location = domain + "/" + "home";
            } else if (e.key === "Home") { // F2 key maps to keycode `113`
                window.location = domain + "/" + "show";
            }
        });
    </script>
</body>
</html>
